header {
  height: 70px;
  background: #007bff;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.37) 0 8px 24px;

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 55px;
      margin-right: 15px;
    }
  }

  .langage {
    width: 150px;

    select {
      border-radius: 10px;
      background: white;
      padding: 3px 5px;
      margin-left: 20px;
      border: none;
    }
  }

  .deconnexion {
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: end;

    button {
      border-radius: 20px;
      border: none;
      padding: 10px 20px;
      background: white;
      color: #007bff;
    }

    svg {
      width: 30px;
      margin-right: 10px;
    }
  }
}
