<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <!-- Section principale Forgot Password -->
          <div class="forgot-password-container">
            <h2>Mot de passe oublié</h2>
            <p>
              Entrez votre adresse email enregistrée ci-dessous. Nous vous enverrons un lien pour réinitialiser votre
              mot de passe.
            </p>
            <form>
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input
                  [(ngModel)]="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Votre email"
                  type="email"
                />
              </div>
              <button
                (click)="resetPassword()"
                class="btn btn-info w-100"
                type="button"
              >
                Réinitialiser le mot de passe
              </button>
              <p *ngIf="errorMessage" class="message mt-3">{{ errorMessage }}</p>
              <p *ngIf="successMessage" class="message success mt-3">{{ successMessage }}</p>
            </form>
            <div class="mt-4 text-center">
              <a class="return-link" href="/login">
                Retour à la <span class="text-danger">connexion</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
