<div class="background">
  <div class="container">
    <div class="login-container">

      <h2>Inscription</h2>

      <form [formGroup]="registerForm">

        <div class="form-group">
          <label for="username">Nom</label>
          <input
            class="form-control"
            formControlName="nom"
            id="username"
            name="username"
            type="text"
          />
          <div class="error">
            @if (registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched) {
              Un nom valide est requise
            }
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            formControlName="email"
            id="email"
            name="email"
            type="email"
          />
          <div class="error">
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
              Une email valide est requise
            }
          </div>
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            class="form-control"
            formControlName="mdp"
            id="password"
            name="password"
            type="password"
          />
          <div class="error">
            @if (registerForm.get('mdp')?.invalid && registerForm.get('mdp')?.touched) {
              Un mot de passe valide est requise
            }
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword"
          >Confirmation du mot de passe</label
          >
          <input
            class="form-control"
            formControlName="mdpConfirmation"
            id="confirmPassword"
            name="confirmPassword"
            type="password"
          />
          <div class="error">
            @if (registerForm.get('mdpConfirmation')?.invalid && registerForm.get('mdpConfirmation')?.touched) {
              Un mot de passe valide est requise
            }
            @if (registerForm.get('mdpConfirmation')?.touched && registerForm.get('mdp')?.value != registerForm.get('mdpConfirmation')?.value) {
              Les deux mots de passe sont différents
            }
          </div>
        </div>

        <button (click)="register()" [disabled]="registerForm.invalid" class="btn btn-primary" type="button">
          S'inscrire
        </button>

        <div class="row mt-3">
          <div class="col-md-12 text-end link">
            <a class="text-dark" href="/login">
              Déjà un compte ? Connectez-vous
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
